.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
}

.movie-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-image {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.movie-details {
    margin-bottom: 15px;
}

.movie-details strong {
    font-weight: bold;
}
